<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Marionette Contact Manager</title>
    <link href="./bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/application.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand">Contact manager</span>
        </div>
      </div>
    </div>

    <div id="app-container">
      <div id="main-region" class="container">
        <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
      </div>
    </div>

    <script src="./bower_components/underscore/underscore-min.js"></script>
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/backbone/backbone.js"></script>
    <script src="./bower_components/backbone.marionette/lib/backbone.marionette.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./bower_components/requirejs/require.js"></script>

    <script type="text/template" id="contact-list-item">
      <%- firstName %> <%- lastName %>
    </script>

    <script>

      //create the Application instance
      var ContactManager = new Marionette.Application();

      //Create a Model
      ContactManager.Contact = Backbone.Model.extend({
        defaults: {
          firstName: '',
          lastName: '',
          phoneNumber: ''
        }
      });

      //Create a collection
      ContactManager.ContactCollection = Backbone.Collection.extend({
        model: ContactManager.Contact,
        comparator: 'firstName'
      });

      //create item view
      ContactManager.ContactItemView = Marionette.ItemView.extend({
        tagName: 'li',
        template: '#contact-list-item',
        events: {
          'click': 'alertPhoneNumber'
        },
        alertPhoneNumber: function(e) {
          alert( this.model.escape('phoneNumber') || 'No phone number!'  );
        }
      });

      //create collectionView
      ContactManager.ContactsView = Marionette.CollectionView.extend({
        tagName: 'ul',
        childView: ContactManager.ContactItemView
      });

      //init layout and regions before the app starts
      ContactManager.on( 'before:start', function() {

        var RegionContainer = Marionette.LayoutView.extend({
          el: '#app-container',
          regions: {
            main: '#main-region'
          }
        });
        //insert regions in layout
        ContactManager.regions = new RegionContainer();

      } );

      //now populate the layout with real views
      ContactManager.on("start", function() {
          console.log( 'Application started ');

          //create collection
          //note that models are automatically created by Backbone
          var contactCollection = new ContactManager.ContactCollection([
              {
                firstName: 'Alice',
                lastName: 'Arten',
                phoneNumber: '511-111-1111'
              },
              {
                firstName: 'Zum',
                lastName: 'Zum',
                phoneNumber: '898-144-1111'
              },
              {
                firstName: 'Num',
                lastName: 'Num',
                phoneNumber: '909-333-1111'
              }
          ]);

          //create collection view
          var contactsView = new ContactManager.ContactsView({
            collection: contactCollection
          });

          //attach it to app regions
          ContactManager.regions.main.show(contactsView);
      });

      ContactManager.start();
    </script>


  </body>
</html>
